*{
    box-sizing: border-box;
    display: flex;
}

body{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
}

h2{
    font-family: "Quintessential";
    background-color: khaki;

}

.main{
    background-color: antiquewhite;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 6em;

}

.title{
    font-size: large;
    width: 60%;
    height: 10%;
    font-family: "Quintessential";
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: green;
}

.content{
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10px;
    background-color: bisque;
}

.side{
    flex-direction: column;
    width: 30%;
    gap: 40px;
}

.text{
    flex-direction: column;
    width: 70%;
    background-color: whitesmoke;
    padding: 3%;
}

/* for the initial dialougue page */
.background{
    background-color: black;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cascadia Code";
}

.dialogue-box {
  width: 400px;
  padding: 20px;
  color: white;
  flex-direction: column;
  font-family: "Cascadia Code";
}

#next-btn {
  margin-top: 15px;
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  background: white;
  color: black;
  font-family: "Cascadia Code";
  font-size: 14px;
}

#next-btn:hover {
  background: #bababa;
}

/* for the tea brewing phase */
.cup-and-text{
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #000000;
        width: 100%;
        height: 100%;
        flex-direction: column;
}

 #cup {
        position: relative;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        border-style: solid;
        border-color: #ddd;
        border-width: 10px;
        background:#434343;
        overflow: hidden;
    }

#myCanvas{
    position: absolute;
    z-index: 2;
    cursor: crosshair;
    bottom:25%;
}


.leaf {
        position: absolute;
        width: 40px;
        height: 40px;
        pointer-events: none;
        transform-origin: center center;
    }