<html>
    <head>
        <title style="display: none;" >manifesto...</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Monofett&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="menu">
            <a class="menu-link" href="/" >input memory</a>
            <a class="menu-link" href="/map">browse memories</a>
            <a class="menu-link" href="/manifesto">read manifesto</a>
        </div>
        <div class="manifesto-text-container">
            <h2 id="manifesto-header">Do you remember everything?</h2>
            <p id="manifesto-text" style="font-family: Source Code Pro;">
                i cant, in fact, im pretty forgetful of most things in my childhood. but the things that i do remember, i remember because
                they have a distinct color attached to them. in these cases, usually the color is visual. but another thing that is tied to 
                color is emotion. i thought it would be interesting to explore the relationship between the two and to see if there were any 
                discrepencies. so as you write out a memory of yours based on a visual color cue, someone else will read that and assign it 
                to a color based off of how they feel after reading it. your memory is now assigned to a new color based off an unrelated 
                party looking from a completely different persepctive. the map is for all to browse and see these new connections based on 
                color. 
            </p>
        </div>  
    </body>
</html>