<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="experience.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="background">
      <div class="dialogue-box">
        <p id="dialogue-text"></p>
        <button id="next-btn">alright.</button>
      </div>
    </div>
  </body>
</html>
