<html>
    <head>
        <link rel="stylesheet" href="style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">
            <div class="title">
                <h1>Tasseography, or tea leaf reading</h1>
            </div>
            <div class="content">
                <div class="side">
                    An example of a tea leaf reading I did!
                    <img src="teacup.jpg" alt="teacup" />
                    <a href="/start"><img style="width: 100%;" src="ad.png" alt="ad" /></a>
                    <img src="tealeaves.jpg" alt="tea leaves" />

                </div>
                <div class="text">
                    <h2>What is Tasseography?</h2>
                    <p>
                        Tasseography is also known as tasseomancy or tassology, or more simply tea leaf 
                        reading. It is a method of fortune telling that has survived hundreds of years and 
                        is associated with many different cultures. It is a practice of motivation and 
                        finding the inner consciousness, and also one of meditation. By stirring the leaves 
                        and forming shapes, it also gives way to the imagination to imagine futures for the 
                        self. It is a simple way to tell your own fortune in the comfort of your own home! 
                        Keep reading to find out how you can practice this today...

                    </p>
                    <h2>History of Tasseography</h2>
                    <p>
                        But first, it is worth something to know a bit about the history of tea leaf reading. 
                        This practice gets its name from the French root “tasse” meaning cup and the Greek 
                        suffix “graph” which is writing. There are many places where tea leaf reading became 
                        popular. One of the associations is with the Romani fortunetellers, but this practice 
                        also heeds from Asia, the Middle East and Ancient Greece. It is thought that it is the 
                        Roma people that brought it to Europe, where it spread through Scotland, Ireland, and 
                        Eastern Europe. Now it is mostly associated with those cultures. It was very popular 
                        during the Victorian era where the fortune tellers would get invited in ladies’ parlors 
                        to do these readings. The popularity of this practice started going downhill in the 
                        early 1900s after teabags became prevalent.
                    </p>
                    <h2>How to: Tasseography</h2>
                    <p>
                        Now that we know a little more about the history and context, let’s dive in! So the 
                        first step is to make a cup of tea. You can use any tea for this, but for the cup, 
                        it is preferred to use a white, or light colored one so you can see the leaves more 
                        clearly. While steeping, try to calm down and enter a peaceful state of mind, try to 
                        quiet it and enter meditation. After the steep, use your non-dominant hand to pick up 
                        the tea and drink it. As you drink the tea, start thinking about what questions you 
                        want answered. Try to focus on your breathing and the taste. Next, swirl your cup three 
                        times and turn it over; hold it over and take three breaths. After turning the cup 
                        right side up again, you are ready to read!

                    </p>
                    <h2>Common Symbols of Interpretation</h2>
                    <img src="symbols.png" alt="symbols" />
                </div>
            </div>
        </div>
    </body>
</html>