<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <script src="sip.js"></script>
  </head>
  <body>
    <div class="cup-and-text">
      <canvas id="myCanvas" width="500px" height="500px"></canvas>
      <div id="cup"></div>
      <div class="dialogue-box">
        <p id="dialogue-text"></p>
        <button id="next-btn">...</button>
      </div>
    </div>
  </body>
</html>
